body{
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
    background-color: rgb(73, 147, 190);
}
/*==============container===============*/
.container{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.form h1,form h4{
    color: white;
}
/*=================form================*/
.form{
    width: 325px;
    box-shadow: 1px 3px 5px rgb(96,96,96);
    padding: 40px;
    background-color: rgb(31, 27, 27);
    border-radius: 15px;
    text-align: center;
}

/*===================input section===================*/
.form :is(input[type="text"],input[type="password"]){
    outline: none;
    color: white;
    display: block;
    width: 200px;  
    text-align: center;
    padding: 15px 10px;
    background:none;
    border: 2px solid #1fdb7d;
    border-radius: 24px;
    margin: 15px auto;
    transition: 0.20s;
}
.form :is(input[type="text"],input[type="password"]):where(:hover,:focus){
    width: 300px;
    border-color: #1f71db;
}
.form :is(input[type="text"],input[type="password"]):valid{
  border-color: orange;
}

/*====================forgot section=================*/
.forgot{
    color: white;
    font-size: 13px;
}
.forgot a{
    text-decoration: none;
    color: #1f71db;
    transition: 0.20s;
    cursor: pointer;
}
.forgot a:hover{
    text-decoration: underline;
    margin: 20px 0px;
}

/*====================submit section==================*/
input[type = "submit"]{
    background: transparent;
    border: 2px solid rgb(22, 168, 236);
    padding: 10px 25px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    margin: 10px auto;
    transition: 0.25s;
    width: 100px;
    cursor: pointer;
}
input[type = "submit"]:hover{
    width: 150px;
    background-color: rgb(22, 168, 236);
}
.form span{
  border-top: 1px solid #ccc; 
  background: #fff; 
  display: block;
  margin: 20px 0px;
}
/*=============sign up===============*/
.form .sign_up{
    border: none;
    background-color: #db1fbc;
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}
.form .sign_up a{
    color: white;
    text-decoration: none;
}
.form .sign_up:hover{
    padding: 12px 22px;  
}
